@tailwind base;
@tailwind components;
@tailwind utilities;

.flow_board {
  background-color: #f3f3f3;
}

body {
  background-color: #f3f3f3;
}

@layer utilities {
  .animation-delay-2000 {
    animation-delay: 2s;
  }
  .animation-delay-4000 {
    animation-delay: 4s;
  }
}

