@tailwind base;
@tailwind components;
@tailwind utilities;

.flow_board {
  background-color: #f3f3f3;
}

.header {
  background-color: #16160e;
  padding-bottom: 1rem;
}

.title {
  color: white;
  margin-left: 2rem;
  padding-top: 1rem;
}
