@tailwind base;
@tailwind components;
@tailwind utilities;

.flow_board {
  background-color: #f3f3f3;
}

body {
  background-color: #f3f3f3;
  background-image: radial-gradient(black 1px, transparent 0);
  background-size: 40px 40px;
  background-position: -10px -10px;
}

@layer utilities {
  .animation-delay-2000 {
    animation-delay: 2s;
  }
  .animation-delay-4000 {
    animation-delay: 4s;
  }
}

